body{
    font-family: 'Cinzel', serif;
    padding: 35px;
}
.view-container{
    margin-top: 50px;
    padding: 0 50px;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid;
    border-radius: 5px;
}

.btn-default {
    width: 100%;
    margin: 10px 0px;
}    

select {
    width: 30%;
}